section{
    font-size: 16px;
    font-family: GillSans, sans-serif;
    color: #ffffff;
    margin: 0 23px 156px 83px;
}

h4{
    font-size: 25px;
    font-weight: normal;
    display: inline;

}

.bord{
    width: 658px;
    border: 1px solid #ffffff;
    word-wrap: break-word;
    display: inline-block;
    float: right;
}

.lamp{
    margin: 0 0 12px 69px;
}

.blur{
    display: block;
    margin: 0 0 0 39px;
}

#pic{
    float: left;
}

#text{
    margin: 29px 25px 0 207px;
}

.button{
    background-color: #ffffff;
    border: none;
    color: #ff9900;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 57px 53px 0 0;
    cursor: pointer;
    font-family: GillSans,sans-serif;
    float: right;

}

#lite{
    background-image: url(../img/lite.png);
    z-index: 1;

}